.layout{display:flex;overflow-x:hidden}
.content{margin-left:256px;min-height:100vh;width:calc(100% - 256px);background:var(--bg-100,#f5f5f5);padding:16px}

@media (max-width: 1024px){
  .content{margin-left:0;width:100%}
}
